@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild3464-3334-4666-b834-383231333536/KZPFMonumentaPro-Reg.woff') format('woff');
    font-weight:300;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild3362-3831-4661-a466-663262373565/KZGoodVibes.woff') format('woff');
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild3762-6537-4731-a335-313731303434/Cormorant-Regular.woff') format('woff');
    font-weight:500;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild3336-6436-4535-b762-626566666332/Cormorant-SemiBold.woff') format('woff');
    font-weight:600;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild6532-3735-4964-b436-633463626630/Cormorant-Bold.woff') format('woff');
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:'KZGoodVibes';
    src:url('https://static.tildacdn.com/tild6137-3165-4630-b639-343137366637/EVEY_Bold.woff') format('woff');
    font-weight:800;
    font-style:normal
}
*{
    box-sizing: border-box;
    height: max-content;
}
body{
    font-family: Arial, sans-serif;
    background-image: url('KZGoodVibes-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 310em;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
hr {
    border: none;
    height: 1px;
    background-color: black;
    margin: 0 auto; /* Центрирование по горизонтали */
    width: 75%;
}
.container-one {
    display: flex;
    flex-direction: column;
    margin-top: 95%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.container-one .main-title {
    margin-top: 48%;
    width: 100%;
}
.container-one .second-title {
    width: 100%;
    height: auto;
}
.container-one .main-title h1 {
    font-family: 'KZGoodVibes', Arial, sans-serif;
    font-size: 7.8em;
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-one .second-title h2 {
    font-family: 'KZGoodVibes', Arial, sans-serif;
    font-size: clamp(30px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-one .second-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', cursive;
}
.med-img .bg-image{
  width: 80%;
  align-items: center;
    display: flex;
    justify-content: center;
  height: 30em;
  object-fit: cover;
  z-index: -1;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 0%;
}
.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    height: 85em;
    width: 100%;
}
.container-two .main-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* .container-two .second-title {
    width: 100%;
    margin-top: 0%;
    height: auto;
} */
/* .container-two .main-title h1 {
    font-family: "Bad Script", cursive;
    font-size: clamp(30px, 6vw, 70px);
    text-align: center;
    color: rgb(33, 33, 33);
} */
.container-two .main-title h2 {
    font-family: 'KZGoodVibes', Arial, sans-serif;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .main-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes';
}
.container-two .second-title h2 {
    font-family: 'KZGoodVibes', Arial, sans-serif;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .second-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .third-title h2 {
    font-family:  'KZGoodVibes', Arial, sans-serif;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .third-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .four-title h2 {
    font-family:  'KZGoodVibes', Arial, sans-serif;
    font-size: clamp(30px, 6vw, 70px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .four-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .four-title {
    width: 100%;
    margin-top: 0%;
    height: auto;
}
#line-two{
    border: none;
    height: 2px;
    background-color: black;
    margin: 35px auto; /* Центрирование по горизонтали */
    width: 70%;
}
.container-two .five-title h2 {
    font-family: "KZGoodVibes", "Arial", cursive;
    font-size: clamp(25px, 5vw, 60px);
    text-align: center;
    color: rgb(33, 33, 33);
}
.container-two .five-title h2 span{
    font-size: 80px;
    margin-top: 1vh;
    font-family: 'KZGoodVibes', Arial, sans-serif;
}
.container-two .five-title {
    width: 100%;
    margin-top: 0%;
    height: 10em;
}
.music-control {
    position: fixed;
    padding-left: 87%;
    margin-top: 100%;
  }
  
  .music-control img {
    width: 40%;
    height: 40;
  }

  
